.App {
  position: relative;
  width: 100%;
  max-width: 425px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.15);
}
