.LoginContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 30px;

  .sloganLabel {
    font-weight: 800;
    font-size: 24px;
    color: #565656;
    margin: 40px 0;
  }

  .formActionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .registeredBox {
    span {
      font-weight: 600;
      font-size: 13px;
      color: #565656;
    }

    a {
      font-weight: 600;
      font-size: 13px;
      color: #87AE95;
      text-underline: none;
    }
  }
}